---
title: Vim Plugin Talk
---
%article
  %h1 Vim Plugin Talk

  %ul
    %li= link_to 'Official Vim plugin page', 'http://www.vim.org/scripts/index.php'
    %li= link_to 'GitHub Search', 'https://github.com/search?l=VimL&o=desc&q=vim&ref=cmdform&s=stars&type=Repositories'
    %li= link_to 'Learn Vimscript the Hard Way', 'http://learnvimscriptthehardway.stevelosh.com/'
    %li= link_to 'Pathogen', 'https://github.com/tpope/vim-pathogen'
    %li= link_to 'Fugitive', 'https://github.com/tpope/vim-fugitive/'
    %li= link_to 'Vundles', 'https://github.com/gmarik/Vundle.vim'
