!!!
%html
  %head
    %meta(charset='utf-8')
    %meta(http-equiv='X-UA-Compatible' content='IE=edge;chrome=1')
    %meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0')
    %meta(name='google-site-verification' content='KwvOLKa0ukD2SblVu5rN7aR_sGt4bTWMpVw-xBmWd5U')
    %title #{current_page.data.title} | Jon Allured
    = favicon_tag '/images/favicon.gif'
    = feed_tag :atom, '/atom.xml', title: 'Atom Feed'
    = stylesheet_link_tag :default
    = stylesheet_link_tag :mobile, media: 'only screen and (max-device-width: 480px)'
    = stylesheet_link_tag :print, media: :print
  %body
    %header
      %h1= link_to 'Jon Allured', '/'
      %p Computer&nbsp;Programmer, Whiskey&nbsp;Drinker, Comic&nbsp;Book&nbsp;Reader
    %section
      = yield
      %aside
        - for section in data.sidebar do
          %h2= section.title
          %ul
            - for link in section.links do
              %li= link_to link.text, link.url
    %footer
      %p
        &copy; Jon Allured,
        = link_to 'view source', 'https://github.com/jonallured/jonallured.com'
    = google_analytics_tag
