- content_for :head do
  %meta{ name: "twitter:card", content: 'summary_large_image' }
  %meta{ property: "og:description", content: clean_summary(current_article) }
  %meta{ property: "og:image", content: social_share_url(current_article) }
  %meta{ property: "og:title", content: current_article.title }
  %meta{ property: "og:url", content: current_article.url }

= wrap_layout :default do
  %h1= current_article.title
  %p#articleDate published #{current_article.date.strftime('%m/%d/%y')}
  = yield
