!!!
%html
  %head
    %title Jackson Stanley
    %meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0')
    :sass
      body
        background-color: #222
        text-align: center
      article
        margin: 0px auto
        width: 500px
      h1
        color: #ccc
        font-family: -apple-system, 'Helvetica Neue', Helvetica, Arial, sans-serif
        font-size: 50px
        margin: 70px 0 100px
      img
        height: 500px
        margin-bottom: 100px
        width: 500px
      @media screen and (max-width: 480px)
        article
          width: 100%
        h1
          font-size: 40px
          margin: 20px 0
        img
          height: 100%
          margin-bottom: 40px
          width: 100%
  %body
    %article
      %h1 Jackson Stanley
      %img(src="/jack/images/jack-day-one.png")
      %img(src="/jack/images/jack-two-weeks-old.png")
      %img(src="/jack/images/jack-first-month.png")
      %img(src="/jack/images/jack-two-months.png")
      %img(src="/jack/images/jack-month-3.png")
      %img(src="/jack/images/jack-four-months.png")
