---
layout: shared
---
<main>
  <section>{{ content }}</section>
  <aside>
    <h2>Writing</h2>
      <ul>
        <li><a href="/all-posts.html">All Posts</a></li>
        <li><a href="/favorite-posts.html">Favorite Posts</a></li>
        <li><a href="/review-posts.html">Review Posts</a></li>
        <li><a href="/crossposts.html">Crossposts</a></li>
      </ul>
    <h2>RSS</h2>
    <ul>
      <li><a href="/atom.xml">My Feed</a></li>
      <li><a href="/feeds-i-read.html">Feeds I Read</a></li>
      <li><a href="/podcasts.html">Podcasts</a></li>
    </ul>
    <h2>Projects</h2>
    <ul>
      <li><a href="https://www.youtube.com/@2RadDads">2RadDads</a></li>
      <li><a href="https://github.com/jonallured/pear">pear</a></li>
      <li><a href="https://puddingtime.buzzsprout.com">Pudding Time</a></li>
      <li><a href="https://rubyconferences.org">RubyConferences.org</a></li>
    </ul>
    <h2>Elsewhere</h2>
    <ul>
      <li><a href="https://bsky.app/profile/jonallured.com">Bluesky</a></li>
      <li><a href="https://github.com/jonallured">GitHub</a></li>
      <li><a href="https://hachyderm.io/@jonallured">Mastodon</a></li>
    </ul>
  </aside>
</main>
