// colors
$white: #ffffff
$blue: #0000FF
$light-gray: #eeeeee
$gray: #777777
$black: #000000

// fonts
$title-family: georgia, times, serif
$body-family: verdana, arial
$code-family: courier new, courier, monospace
