:root {
  --white: #FFFFFF;
  --blue: #0000FF;
  --light-gray: #F7F7F7;
  --gray: #777777;
  --black: #333333;
  --highlight: #69A1FD;
  --title-family: georgia, times, serif;
  --body-family: verdana, arial;
  --code-family: courier new, courier, monospace;
}

body {
  background-color: var(--white);
  color: var(--black);
  font-family: var(--body-family);
  font-size: 20px;
  line-height: 36px;
  margin: 20px;
  padding: 0;

  ::selection {
    background-color: var(--highlight);
  }

  a:link {
    color: var(--black);
  }

  a:visited {
    color: var(--gray);
  }

  a:hover, a:active {
    color: var(--blue);
  }

  header, main, footer {
    margin: 0 auto;
    max-width: 800px;
  }

  header, footer {
    font-family: var(--title-family);
    text-align: center;
    text-transform: uppercase;
  }

  header {
    letter-spacing: 3px;
    margin-top: 30px;
    margin-bottom: 30px;

    h2 {
      font-size: 80px;
      font-weight: normal;
      line-height: 90px;
      margin: 10px 0 10px;

      a:link, a:visited, a:hover, a:active {
        color: var(--black);
        text-decoration: none;
      }
    }

    p {
      border-bottom: 2px solid var(--black);
      border-top: 1px solid var(--black);
      font-size: 16px;
      line-height: 30px;
      margin: 0;
      padding: 0;
    }
  }

  main {
    overflow: hidden;

    h1, h2, h3, h4, h5, h6 {
      font-family: var(--title-family);
      font-weight: normal;
    }

    h1 {
      font-size: 40px;
      line-height: 54px;
      margin: 0;
    }

    h2 {
      font-size: 30px;
    }

    h3, h4, h5, h6 {
      font-size: 24px;
    }

    p, ol, ul {
      code {
        padding: 2px 4px;
      }
    }

    blockquote {
      font-style: italic;
    }

    .imageWrapper {
      background: var(--light-gray);
      line-height: 0px;
      padding: 20px;
      text-align: center;

      p {
        font-size: 12px;
      }
    }

    figure {
      background: var(--light-gray);
      margin: 0;
      padding: 20px;
      text-align: center;

      img {
        height: auto;
        width: 100%;
      }

      figcaption {
        font-size: 12px;
        line-height: 18px;
      }
    }

    code {
      background-color: var(--light-gray);
      font-family: var(--code-family);
    }

    pre {
      background-color: var(--light-gray);
      line-height: 22px;
      overflow-x: auto;
      padding: 10px;
    }

    hr {
      background-color: var(--gray);
      border: 0;
      height: 1px;
      width: 100px;
    }

    p#articleDate {
      font-family: var(--title-family);
      font-style: italic;
      margin-top: 10px;
    }

    .weak {
      color: var(--gray);
      font-style: italic;
    }

    #contactDetails {
      float: right;
      text-align: right;
      margin: 0 0 0 20px;

      p {
        margin: 0;
      }
    }

    table {
      border-collapse: collapse;
      text-align: left;
      width: 100%;

      tr {
        border-bottom: 1px solid var(--gray);

        th, td {
          padding: 10px 0;
        }

        th:last-child, td:last-child {
          text-align: right;
        }
      }
    }
  }

  footer {
    border-top: 1px solid var(--black);
    margin-top: 30px;
    margin-bottom: 60px;

    nav {
      display: flex;
      flex-wrap: wrap;
      font-size: 18px;
      line-height: 30px;
      margin-bottom: 20px;

      section {
        margin-top: 20px;
        width: 25%;

        h2 {
          font-size: 18px;
          letter-spacing: 2px;
          text-transform: uppercase;
          margin: 0 0 5px;
        }

        ul {
          list-style: none;
          margin: 0;
          padding: 0;
          text-transform: none;
        }
      }
    }

    p {
      border-bottom: 2px solid var(--black);
      border-top: 1px solid var(--black);
      font-size: 16px;
      line-height: 30px;
      letter-spacing: 1px;
      margin: 0;
    }
  }
}
