body { background-color: #fdfdfd; }

header, footer { font-family: 'georgia', times, serif; letter-spacing: 3px; margin: 0px auto; text-align: center; text-transform: uppercase; width: 800px; }
header h1 { font-size: 50px; font-weight: normal; line-height: 65px; margin: 10px 0 5px; }
header h1 a { color: #000; text-decoration: none; }
header p { border-bottom: 2px solid #000; border-top: 1px solid #000; font-size: 13px; line-height: 26px; margin: 0 5px; padding: 0; }
footer { margin-bottom: 20px; }
footer p { border-bottom: 2px solid #000; border-top: 1px solid #000; font-size: 10px; letter-spacing: 1px; margin: 0 5px; padding: 5px 0; }
footer a:link { color: #000; }
footer a:visited { color: #777; }
footer a:hover, footer a:active { color: #00F; }

section { margin: 0px auto; overflow: hidden; width: 800px; }
section a:link { color: #000; }
section a:visited { color: #777; }
section a:hover, section a:active { color: #00F; }

article { float: left; margin-top: 30px; padding: 0 5px; width: 600px; }
article h1, article h2, article h3, article h4, article h5, article h6 { font-family: 'georgia', times, serif; font-weight: 400; margin-bottom: -6px; }
article h1 { font-size: 30px; margin: 0; }
article h2 { font-size: 20px; }
article p, article ol, article ul { font-family: arial; font-size: 14px; line-height: 20px; }

article blockquote { font-style: italic; }
article code { background-color: #eee; font-family: 'courier new', courier, monospace; }
article p code { padding: 2px 4px; }
article pre { background-color: #eee; line-height: 16px; overflow-x: auto; padding: 10px; }
article pre code { background: none; }
article hr { background-color: #888; border: 0; height: 1px; margin: 25px auto; width: 100px; }

article .weak { color: #666; font-size: .85em; }
article .listHeading { margin-bottom: -10px; }
article p#articleDate { font-family: 'georgia', times, serif; font-size: 15px; font-style: italic; margin: 6px 0 -3px; }

aside { font-family: 'georgia', times, serif; font-size: 14px; float: right; line-height: 20px; margin: 30px 0; text-align: center; width: 180px; }
aside h2 { font-size: 14px; letter-spacing: 2px; margin: 5px 0; text-transform: uppercase; }
aside p { margin: 0 0 20px; }
aside ul { list-style: none; margin: 0 0 20px; padding: 0; }

ul.feeds li { float: left; width: 200px; }
ul.feeds { line-height: 22px; margin-bottom: 15px; overflow: hidden; width: 600px; }
