:root {
  --white: #FFFFFF;
  --blue: #0000FF;
  --light-gray: #F7F7F7;
  --gray: #777777;
  --black: #333333;
  --highlight: #69A1FD;
  --title-family: georgia, times, serif;
  --body-family: verdana, arial;
  --code-family: courier new, courier, monospace;
}

body {
  background-color: var(--white);
  color: var(--black);
  font-family: var(--body-family);
  font-size: 20px;
  line-height: 36px;
  margin: 20px;
  padding: 0;

  ::selection {
    background-color: var(--highlight);
  }

  a:link {
    color: var(--black);
  }

  a:visited {
    color: var(--gray);
  }

  a:hover, a:active {
    color: var(--blue);
  }

  header, main, footer {
    margin: 0 auto;
    max-width: 1000px;
  }

  header, aside, footer {
    font-family: var(--title-family);
    text-align: center;
  }

  header, footer {
    letter-spacing: 3px;
    text-transform: uppercase;
  }

  header {
    margin-top: 30px;
    margin-bottom: 30px;

    h2 {
      font-size: 80px;
      font-weight: normal;
      line-height: 90px;
      margin: 10px 0 5px;

      a:link, a:visited, a:hover, a:active {
        color: var(--black);
        text-decoration: none;
      }
    }

    p {
      border-bottom: 2px solid var(--black);
      border-top: 1px solid var(--black);
      font-size: 16px;
      line-height: 30px;
      margin: 0;
      padding: 0;
    }
  }

  main {
    display: flex;
    justify-content: space-between;

    article {
      max-width: 800px;
      overflow: hidden;

      h1, h2, h3, h4, h5, h6 {
        font-family: var(--title-family);
        font-weight: normal;
      }

      h1 {
        font-size: 40px;
        line-height: 54px;
        margin: 0;
      }

      h2 {
        font-size: 30px;
      }

      h3, h4, h5, h6 {
        font-size: 24px;
      }

      p, ol, ul {
        code {
          padding: 2px 4px;
        }
      }

      blockquote {
        font-style: italic;
      }

      .imageWrapper {
        background: var(--light-gray);
        line-height: 0px;
        padding: 20px;
        text-align: center;

        p {
          font-size: 12px;
        }
      }

      code {
        background-color: var(--light-gray);
        font-family: var(--code-family);
      }

      pre {
        background-color: var(--light-gray);
        line-height: 22px;
        overflow-x: auto;
        padding: 10px;
      }

      hr {
        background-color: var(--gray);
        border: 0;
        height: 1px;
        width: 100px;
      }

      p#articleDate {
        font-family: var(--title-family);
        font-style: italic;
        margin-top: 10px;
      }

      .weak {
        color: var(--gray);
        font-style: italic;
      }

      #contactDetails {
        float: right;
        text-align: right;
        margin: 0 0 0 20px;

        p {
          margin: 0;
        }
      }
    }

    aside {
      font-size: 18px;
      line-height: 30px;
      margin-left: 20px;
      min-width: 180px;

      h2 {
        font-size: 18px;
        letter-spacing: 2px;
        text-transform: uppercase;
        margin: 30px 0 5px;

        &:first-child {
          margin-top: 0;
        }
      }

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }
    }
  }

  footer {
    margin-top: 30px;
    margin-bottom: 60px;

    p {
      border-bottom: 2px solid var(--black);
      border-top: 1px solid var(--black);
      font-size: 16px;
      line-height: 30px;
      letter-spacing: 1px;
      margin: 0;
    }
  }
}
