header, footer
  width: 100%
  p
    font-size: 16px
    line-height: 22px

header
  h1
    font-size: 36px
    line-height: 44px

section
  display: block
  margin: 0px
  width: 100%

article
  padding: 0
  width: 100%
  h1
    font-size: 28px
    margin: 0
    line-height: 36px
  h2
    font-size: 20px
  p, ol, ul
    font-size: 16px
    line-height: 24px

aside
  border-top: 1px solid #000
  font-size: 14px
  line-height: 20px
  margin: 30px 0
  padding-top: 30px
  width: 100%
  h2
    font-size: 22px
  p
    font-size: 18px
  ul
    font-size: 18px
    line-height: 26px

.posts
  padding: 0 0 0 20px

ul.feeds
  line-height: 26px
  margin-bottom: 15px
  overflow: hidden
  padding: 0 0 0 20px
  width: auto
  li
    float: none
    width: auto
