body {
  color: #000000;
  font-size: 14px;
  line-height: 20px;

  a:visited {
    color: #000000;
  }

  header {
    margin: 0;

    h2 {
      border-bottom: 2px solid #000000;
      font-size: 50px;
      line-height: 60px;
      text-align: left;
    }

    p {
      display: none;
    }
  }

  main {
    h1 {
      display: none;
    }

    #contactDetails {
      margin-right: 26px;
      margin-top: 30px;
      position: absolute;
      right: 0;
      top: 0;
    }

    h2 {
      font-size: 20px;
      line-height: 24px;
    }
  }

  footer {
    display: none;
  }
}

