aside { display: none; }
p.callout { display: none; }
footer { display: none; }
article { width: 790px; }
article p, article ul { font-size: 16px; }
article h1 { display: none; }
article h2 { font-size: 30px; }
p#screenNote { display: none; }
p#printNote { display: block; }
