<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="google-site-verification" content="KwvOLKa0ukD2SblVu5rN7aR_sGt4bTWMpVw-xBmWd5U" />
		<title>{{ page.title }}</title>
		<link href="/atom.xml" rel="alternate" title="Jon Allured" type="application/atom+xml" />
		<link rel="icon" type="image/gif" href="/favicon.gif" />
		<link rel="stylesheet" href="/stylesheets/default.css" type="text/css" media="all" />
		<link rel="stylesheet" href="/stylesheets/print.css" type="text/css" media="print" />
		<script type="text/javascript" src="/scripts/jquery-162.js"></script>
		<script type="text/javascript" src="/scripts/validate.js"></script>
		<script type="text/javascript" src="/scripts/behavior.js"></script>
		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-3137727-1']);
			_gaq.push(['_trackPageview']);
			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
	</head>
	<body>
		<header>
			<h1><a href="/">Jon Allured</a></h1>
			<p>Builder of Websites, Lover of Dogs, Reader of Comic Books</p>
		</header>
		<section>
			{{ content }}
			<aside>
				<h2>All Posts</h2>
				<p><a href="/posts">View complete list</a></p>
				<h2>Portfolio</h2>
				<p><a href="/portfolio">Examples of my work</a></p>
				<h2>Contact Me</h2>
				<p><a href="/contact">Send me a note</a></p>
				<h2>Elsewhere</h2>
				<ul>
					<li><a href="http://www.twitter.com/jonallured">Twitter</a></li>
					<li><a href="http://www.facebook.com/jonallured">Facebook</a></li>
					<li><a href="http://github.com/jonallured">GitHub</a></li>
					<li><a href="http://www.linkedin.com/in/jonallured">LinkedIn</a></li>
					<li><a href="http://delicious.com/jonallured">Delicious</a></li>
				</ul>
			</aside>
		</section>
		<footer>
			<p>&copy; Jon Allured, site design inspired by <a href="http://www.plaintxt.org/#veryplaintxt">VERYPLAINTXT</a></p>
		</footer>
	</body>
</html>