---
title: Contact
---
%article
  %h1 Contact
  %p Use the form below to send me a note.

  %form#contactForm(accept-charset='UTF-8' action='/' method='POST' style='display: none;')
    %input(type='hidden' name='utf8' value='✓')
    .wrapper
      .field.text
        %label(for='name') Name:
        %input#name.required(type='text' name='name')
      .field.text
        %label(for='email') Email:
        %input#email.required.email(type='text' name='email')
      .field.text
        %label(for='subject') Subject:
        %input#subject(type='text' name='subject')
      .field.textarea
        %label(for='name') Message:
        %textarea#body.required(name='body')
      .action
        %input(type='submit' value='Submit')

:javascript
  $('form#contactForm').attr('action', 'https://formkeep.com/f/2cea841fbcab');
  $('form#contactForm').show();
