---
title: Resume
---
%article
  #contactDetails
    %p
      Get in touch:
      1447 Sunnybrook Drive
      Naperville, IL 60540
      mobile: 630.390.4018
      email: jon@jonallured.com

  %p.callout
    = link_to 'Download PDF Version', 'resume.pdf'

  %h1 Resume

  %h2#objectiveHeading Professional Objective

  %p
    I want to work for a software development company; specifically one that
    specializes in web applications and cares about design. I love building
    websites and I want to work with clients that have great application ideas,
    but need help making them happen.

  %h2 Development Skills

  %ul
    %li Project planning, including creating user types, card sorting, and producing an Information Architecture
    %li Agile practices including daily standups, story writing and iteration planning meetings
    %li Project management, especially coordinating the design, programming and content
    %li Semantic HTML, Javascript (jQuery too) and enough CSS to make it look good in Webkit
    %li Ruby and the Rails framework (Sinatra too); experience with Ruby 1.9.2 and Rails 3.0.x
    %li Git and GitHub, also worked with SVN
    %li Familiar with common Ruby Gems like Devise, Prawn, delayed_job and aws-s3
    %li Unit tests with Rspec and Integration testing with Cucumber
    %li Comfortable with pair programming
    %li Good with OS X and the Bash shell
    %li Deploying and scaling on Heroku; installation of common Heroku Add-ons

  %h2 Attitudes about Development

  %p
    I think the thing that makes me really good at developing software is the
    high value I place on having empathy for users. You need to be able to look
    at what you're working on from their perspective and take their needs
    seriously.

  %p
    Bringing clarity to projects is as much about what you leave out as what
    you include. Sure, it's about great copy and usable interfaces, but it's
    also about saying no. I care about keeping the things I work on focused on
    what's really important.

  %p
    Being a part of the technology industry means being open to constantly
    learning new things. You have to want to learn and understand that it is
    your responsibility to teach yourself new things. That's how I learned
    Rails and it's what I love about working in this field.

  %h2 Employment History

  %p Hashrocket, Chicago, Illinois (2011-2014)

  %ul
    %li
      %strong Developer:
      Used agile practices, strong TDD and pair programming to deliver
      first-class web applications for our clients.

  %p Allured Business Media, Carol Stream, Illinois (2007-2011)

  %ul
    %li
      %strong Web Developer:
      Responsible for virtually all aspects of the company's many websites with
      lots of input on strategy. Managed redesigns for each site and did the
      programming for those projects.

  %h2 Education/Certification

  %ul
    %li
      Bachelor of Science in Business Management,
      %em National Louis University
      (2005)
