---
title: Resume
---
%article#resume
  #contactDetails
    %p
      Get in touch:
      %br
      630.390.4018
      %br
      = link_to 'jon.allured@gmail.com', 'mailto:jon.allured@gmail.com'

  :markdown
    # Resume

    ## Professional Objective

    I want to work for a company that specializes in web and mobile
    applications and cares about design. I love building things and I want to
    work with and learn from other people do too. I care about open source and
    I want the company I work for to share that feeling.

    ## Open Source Projects

    I work on a number of projects for myself and the wider development
    community. Probably my most well known project is a list of Ruby
    conferences I maintain called [RubyConferences.org][rc].

    [rc]: http://rubyconferences.org

    I started the site because I was annoyed that it didn't exist. Averaging
    around 1,500 pageviews a month, the site helps people find Ruby conferences
    future and past. Once the community got wind of it, the site took on a life
    of it's own. I'm still the top contributor, but I'm proud of the 40+ people
    that have helped keep this site up-to-date over the last two years. It's a
    simple Jekyll blog deployed using GitHub Pages.

    Because I get a decent amount of PRs, I've recently been working on
    automating PR review using Travis and Danger. In fact, I created a Danger
    plugin called [Commit Lint][lint] primarily because I was tired of giving
    the same feedback over and over. It's been great!

    [lint]: https://github.com/jonallured/danger-commit_lint

    But my first foray into maintaining open source was when I took over
    [Feedjira][feedjira] from Paul Dix. He wasn't using the gem anymore and it
    was in pretty bad shape. Lots of really old issues, PRs that hadn't been
    pulled in. There were forks that people were using - it was a mess. It was
    also still pre 1.0 for whatever reason, but was used in plenty of
    production systems and had a very well established API.

    [feedjira]: https://github.com/feedjira/feedjira

    My first step was to clean these things up and cut a 1.0 release. I worked
    really hard to go through the backlog of GitHub Issues and Pull Requests,
    helping where I could. I learned a lot about how to talk to people when
    they're having a hard time with your library.

    From there I did some stuff that I was interested in - refactoring some bad
    code, changing some APIs for the better and I worked with the community to
    shape and plan for a 2.0 release. After the new release landed it happened:
    I stopped using the gem too. I didn't give the project the attention that
    it deserved and issues piled up. Luckily, I found some helpful people to
    take up the torch and Feedjira is still going strong!

    There are other projects too - I've got a macOS personal time tracking app
    called [Forty][forty] that uses CoreData. I created a [Twitter
    bot][feweronion] that retweets The Onion and I'm working on [another
    one][rcbot] for RubyConferences.org. Webhooks are cool, so I built a [Rails
    server][cybertail_rails] to aggregate them and a [macOS
    app][cybertail_macos] to display them in a list and use push notifications
    to let me know when things happen.

    [forty]: https://github.com/jonallured/forty
    [feweronion]: http://feweronion.jonallured.com/
    [rcbot]: https://github.com/ruby-conferences/rcbot
    [cybertail_rails]: https://github.com/jonallured/cybertail-rails
    [cybertail_macos]: https://github.com/jonallured/cybertail-macos

    So yeah, I love building things!

  %h2 Development Skills

  %ul
    %li Project planning, including creating user types, card sorting, and producing an Information Architecture
    %li Agile practices including daily standups, story writing and iteration planning meetings
    %li Project management, especially coordinating the design, programming and content
    %li Semantic HTML, Javascript (jQuery too) and enough CSS to make it look good in Webkit
    %li Ruby and the Rails framework (Sinatra too); experience with Ruby 1.9.2 and Rails 3.0.x
    %li Git and GitHub, also worked with SVN
    %li Familiar with common Ruby Gems like Devise, Prawn, delayed_job and aws-s3
    %li Unit tests with Rspec and Integration testing with Cucumber
    %li Comfortable with pair programming
    %li Good with OS X and the Bash shell
    %li Deploying and scaling on Heroku; installation of common Heroku Add-ons

  %h2 Attitudes about Development

  %p
    I think the thing that makes me really good at developing software is the
    high value I place on having empathy for users. You need to be able to look
    at what you're working on from their perspective and take their needs
    seriously.

  %p
    Bringing clarity to projects is as much about what you leave out as what
    you include. Sure, it's about great copy and usable interfaces, but it's
    also about saying no. I care about keeping the things I work on focused on
    what's really important.

  %p
    Being a part of the technology industry means being open to constantly
    learning new things. You have to want to learn and understand that it is
    your responsibility to teach yourself new things. That's how I learned
    Rails and it's what I love about working in this field.

  :markdown
    ## Employment History

    Hashrocket, _Minneapolis, Minnesota_ (2016-present)

    * __Senior Developer:__ While working remotely, focused on iOS development
      to help clients take their applications native. Used strong communication
      and documenation skills to keep teams on the same page.

    Grid Connect, _Naperville, Illinois_ (2014-2016)

    * __Lead Developer:__ Built a team of software developers while improving
      our product and launching new ones. Worked with embedded developers to
      create IoT products in Apple's HomeKit ecosystem. Also helped clients build
      out custom IoT platform for new products.

    Hashrocket, _Chicago, Illinois_ (2011-2014)

    * __Senior Developer:__ Started as an apprentice and worked up to leading
      many projects, managing hiring process and helping to host community
      events. Focusing on Rails development, used agile practices, strong TDD and
      pair programming to deliver first-class web applications for our clients.

    Allured Business Media, _Carol Stream, Illinois_ (2007-2011)

    * __Web Developer:__ Responsible for virtually all aspects of the company's
      many websites with lots of input on strategy. Managed redesigns for each
      site and did the programming for those projects.

    ## Education

    * Bachelor of Science in Business Management, _National Louis University_
      (2005)
