---
title: Resume
---
%article#resume
  #contactDetails
    %p
      Get in touch:
      %br
      630.390.4018
      %br
      = link_to 'jon.allured@gmail.com', 'mailto:jon.allured@gmail.com'

  :markdown
    # Resume

    ## Professional Objective

    I want to work for a company that specializes in web and mobile
    applications and cares about design. I love building things and I want to
    work with and learn from other people do too. I care about open source and
    I want the company I work for to share that feeling.

    ## Development Perspective

    The high value I place on having empathy for users is what I think makes me
    really good at developing software. You need to be able to look at what
    you're working on from their perspective and take their needs seriously.

    Bringing clarity to projects is as much about what you leave out as what
    you include. Sure, it's about great copy and usable interfaces, but it's
    also about saying no. I care about keeping the things I work on focused on
    what's really important.

    Being a part of the technology industry means being open to constantly
    learning new things. You have to want to learn and understand that it is
    your responsibility to teach yourself new things. That's how I learned
    Rails and it's what I love about working in this field.

    ## Employment History

    Hashrocket, _Minneapolis, Minnesota_ (2016-present)

    * __Senior Developer:__ While working remotely, focused on iOS development
      to help clients take their applications native. Used strong communication
      and documenation skills to keep teams on the same page.

    Grid Connect, _Naperville, Illinois_ (2014-2016)

    * __Lead Developer:__ Built a team of software developers while improving
      our product and launching new ones. Worked with embedded developers to
      create IoT products in Apple's HomeKit ecosystem. Also helped clients build
      out custom IoT platform for new products.

    Hashrocket, _Chicago, Illinois_ (2011-2014)

    * __Senior Developer:__ Started as an apprentice and worked up to leading
      many projects, managing hiring process and helping to host community
      events. Focusing on Rails development, used agile practices, strong TDD and
      pair programming to deliver first-class web applications for our clients.

    Allured Business Media, _Carol Stream, Illinois_ (2007-2011)

    * __Web Developer:__ Responsible for virtually all aspects of the company's
      many websites with lots of input on strategy. Managed redesigns for each
      site and did the programming for those projects.

    ## Education

    * Bachelor of Science in Business Management, _National Louis University_
      (2005)

    ## Open Source Projects

    I work on a number of projects for myself and the wider development
    community. Probably my most well known project is a list of Ruby
    conferences called [RubyConferences.org][rc]. Averaging around 1,500
    pageviews a month, the site helps people find events both future and past.

    Once the community got wind of it, the site really took on a life of it's
    own. I'm still the top contributor, but I'm proud of the 40+ people that
    have helped keep this site up-to-date over the last two years. Because I
    get a decent amount of PRs, I've recently been working on automating PR
    review using Travis and Danger. In fact, I created a Danger plugin called
    [Commit Lint][lint] primarily because I was tired of giving the same
    feedback over and over. It's been great!

    But my first foray into maintaining open source was taking over
    [Feedjira][feedjira] from Paul Dix. The project was a successful mess -
    used by many, but not actively maintained. The Issues and PRs were out of
    control so I started with just getting back to people and merging code. I
    cut the first 1.0 release and then went on to cut a 2.0 with some changes
    that I wanted. I'm not as involved anymore, but have been able to find
    others to take up the torch.

    There are other projects too - I've got a macOS time tracking app called
    [Forty][forty] that uses CoreData. I created a [Twitter bot][feweronion]
    that retweets The Onion and I'm working on [another one][rcbot] for
    RubyConferences.org. Webhooks are cool, so I built a [Rails
    server][cybertail_rails] to aggregate them and a [macOS
    app][cybertail_macos] to notify me when things happen.

    [rc]: http://rubyconferences.org
    [lint]: https://github.com/jonallured/danger-commit_lint
    [feedjira]: https://github.com/feedjira/feedjira
    [forty]: https://github.com/jonallured/forty
    [feweronion]: http://feweronion.jonallured.com/
    [rcbot]: https://github.com/ruby-conferences/rcbot
    [cybertail_rails]: https://github.com/jonallured/cybertail-rails
    [cybertail_macos]: https://github.com/jonallured/cybertail-macos

    Did I mention that I love to build things!
